.main {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
}
.title {
    font-size: 55px;
    text-align: center;
    margin-top: 0%;
}
.feed {
    text-align: left;
}